@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #020312;
  color: #fff;
}

.menu {
  background-color: #ffffff;
  height: 54px;
  padding: 15px;
  text-align: end;
}

.menu a {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  color: #000;
}

.profile {
  margin: 100px;
}

.profile .images img {
  display: block;
  margin-bottom: 60px;
}

.profile h2 {
  font-weight: 400;
  text-align: center;
  margin: 40px;
}

.profile p {
  font-weight: 400px;
  text-align: center;
}

.profile .informations {
  margin-top: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.profile .informations a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.profile .informations h1 {
  font-size: 48px;
  font-weight: 400;
}

.profile .informations .icons i {
  font-size: 23px;
}

.introduction {
  background: #333f56;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.introduction h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.introduction p {
  margin: 10px 0;
}

.skills {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills li {
  margin: 10px;
  width: 80px;
  height: 80px;
}

.skills img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
